# dependencies
node_modules/

# Next.js
.next/
out/

# TypeScript build cache
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# Drizzle
drizzle/*.sql

# OS
.DS_Store

# Test output
playwright-report/
test-results/
